<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>html,body{margin:0;padding:0;}</style>
</head>
<body>
    <scene>
        <perspective-camera :fov="75" :aspect="1" :near="0.1" :far="1000">
            <position :x="0" :y="0" :z="5"></position>
        </perspective-camera>
        <point-light :color="light.color" v-for="light in lights" v-if="light.display">
            <position :x="light.pos[0]" :y="light.pos[1]" :z="light.pos[2]"></position>
        </point-light>
        <mesh>
            <box-geometry :width="1" :height="1" :depth="1"></box-geometry>
            <mesh-phong-material color="white"></mesh-phong-material>
            <rotation :z="45" :x="45" :y="rotation" order="YXZ"></rotation>
        </mesh>
    </scene>
    <p>
        <label v-for="light in lights"><input type="checkbox" v-model="light.display"><span>{{light.color}} light</span></label>
    </p>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script> if (typeof Vue == 'undefined') document.write('<script src="//cdnjs.cloudflare.com/ajax/libs/vue/1.0.11/vue.js"></' + 'script>') </script>
    <script src="node_modules/three.js/build/three.js"></script>
    <script> if (typeof THREE == 'undefined') document.write('<script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.js"></' + 'script>') </script>
    <script src="trois.js"></script>
    <script> if (typeof Trois == 'undefined') document.write('<script src="dist/trois.js"></' + 'script>') </script>
    <script>
        Vue.config.debug = true
        Vue.use(Trois, {
            THREE: THREE,
            prefix: false
        })
        new Vue({
            el: document.body,
            data: {
                rotation: 0,
                lights: [{
                    color: 'red', pos: [0, 2, 0], display: true
                }, {
                    color: 'green', pos: [0, -2, 0], display: false
                }, {
                    color: 'blue', pos: [2, 0, 0], display: false
                }, {
                    color: 'yellow', pos: [-2, 0, 0], display: false
                }]
            },
            ready: function () {
                var frame = function() {
                    this.rotation += 3
                    requestAnimationFrame(frame)
                }.bind(this)
                requestAnimationFrame(frame)
            }
        })
    </script>
</body>
</html>
